{{define "content"}}
    <h1>{{.Title}}</h1>
    <ul>
        {{if not .AuthorList}}
            <li>There are no authors</li>
        {{else}}
            {{range .AuthorList}}
                <li>
                    <a href="/catalog/author/{{.ID}}">{{.FamilyName}}, {{.FirstName}}</a> ({{.DateBirth}} - {{.DateDeath}})
                </li>
            {{end}}
        {{end}}
    </ul>
{{end}}